extends layout

block content
  h2.page-header Node FullStack 博客系統
  //- 分頁
  if pageCount > 1
    nav
      ul.pagination
        - var currentPage = 1
        while currentPage < pageCount
          if (currentPage === pageNum)   
            li.active
              a(href='/posts?page=' + currentPage) #{currentPage++}
          else
            li
              a(href='/posts?page=' + currentPage) #{currentPage++}

  each post in posts
    .post
      h3.post-title 
        a(href='/posts/view/' + post.slug, traget='_blank') #{post.title}
      .post-abstract #{truncate(post.content, 300)}
      .post-meta 
        span.post-created 時間：&nbsp;#{moment(post.created).format('YYYY-MM-DD')}
        span.post-author 作者：&nbsp;#{post.author.name}
        span.post-category 分類：&nbsp;
          a(href='/posts/category/' + post.category.name, target='_blank') #{post.category.name}
        span.post-comment 評論：&nbsp;#{post.comments.length || 0}
        span.post-favorites 讚：&nbsp;#{post.meta.favorites || 0}
        span.post-link
          a(href='/posts/view/' + post._id, traget='_blank') 查看全文
  //- 分頁
  if pageCount > 1
    nav
      ul.pagination
        - var currentPage = 1
        while currentPage < pageCount
          if (currentPage === pageNum)   
            li.active
              a(href='/posts?page=' + currentPage) #{currentPage++}
          else
            li
              a(href='/posts?page=' + currentPage) #{currentPage++}

block scripts
  script.
    $(function() {
      console.log('load jquery ok');
    });