extends layout

block content
  h2.page-header.post-view-header #{post.title}
  .post.post-view
    .post-meta 
      span.post-created 
        i.fa.fa-calendar&nbsp;#{moment(post.created).format('YYYY-MM-DD')}
      span.post-author 
        i.fa.fa-user&nbsp;作者：&nbsp;#{post.author.name}
      span.post-category 
        i.fa.fa-shopping-basket&nbsp;分類：&nbsp;
        a(href='/posts/category/' + post.category.name, target='_blank') #{post.category.name}
      span.post-comment 
        i.fa.fa-comment&nbsp;評論：&nbsp;#{post.comments.length || 0}
      span.post-favorites 
        a(href='/posts/favorites/' + post._id) 
          i.fa.fa-star&nbsp;讚：&nbsp; #{post.meta.favorites || 0}
    .post-content #{post.content}
    
    .post-comments
      h3 用戶評論

      .post-comment-list
        if post.comments.length
          each comment in post.comments
            .post-comment-item
              h4.post-comment-email #{comment.email}
                small.pull-right #{comment.created}
              p.post-comment-content #{comment.content}
        else
          p.alert.alert-info 還沒有評論

        form.post-comment-form(action='/posts/comment/' + post._id, method='post', enctype='application/x-www-form-urlencoded')
          h3 添加評論
          .form-group
            label(for='email') 郵箱
            input#email.form-control(type='text', name='email', placeholder='請輸入郵箱')
          .form-group
            label(for='content') 內容
            textarea#content.form-control(type='text', name='content', placeholder='請輸入評論')
          button.btn.btn-primary(type=submit) 送出


block scripts
  script.
    $(function() {
      console.log('load jquery ok');
    });